* {
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.396px;
}
body{
    color: #2D2D2D;
    background-color: #FAFBFE;
}
main{
    margin: 66px 45px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header {
    position: fixed;
    z-index: 10;
    top:0;
    background-color: white;
    width: 100%;
    height: 80px;
}
.logo {
    font-weight: 600;
    font-size: 24px;
    line-height: 66px;
    color: #FF8400;
    padding-left: 45px;
    width: 200px;
}

ul.menu {
    list-style: none;
    text-decoration: none;
    margin-right: 45px;
    text-align: right;
    margin-left: auto;
    margin-top: 5%;
}
ul.menu li {
    display: inline;
    padding: 0 15px;
}
a {
    text-decoration: none;
    color: rgba(71, 71, 71, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 9px; 
}
a:hover {
    font-weight: 600;
    color: rgba(71, 71, 71, 1);
    border-bottom: rgba(255, 169, 77, 1) solid;
}
#home section {
    background: linear-gradient(259.08deg, #D5ECFF 0.69%, #E6F2FC 100%);
    height: 560px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 50px 0 50px;
}
.heading {
    width: 520px;
}
h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 54px;
    line-height: 66px;
    margin-top: 20px;
}
.sup {
    font-weight: 600;
    font-size: 14px;
    line-height: 9px;
    color: #FF8400;
}
p {
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: rgba(0, 0, 0, 7);
}
ul.tag {
    font-weight: 600;
    font-size: 14px;
    line-height: 9px;
    color: rgba(71, 71, 71, 0.3);
    list-style: none;
    margin-top: 200px;
    padding-left: 0;
}
.tag li {
    display: inline;
    padding-right: 15px;
}
.serv{
    padding: 100px 0;
}
h2{
    font-size: 34px;
    font-weight: 500;
    padding-left: 50px;
    padding-bottom: 50px;
}
.hide{
    display: none;
}
ul.services, .team{
    list-style: none;
    display: flex;
    justify-content: space-between; 
}
.services li{
    width: 25%;
}
.break{
    width: 60%;
}
.bg1, .bg2, .bg3{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.bg1{
    background-color: #E3FCE6;
}
.bg2{
    background-color: #FFF6E5;
}
.bg3{
    background-color: #E8F9FE;
}
.works{
    padding: 50px 0;
}
.works img:first-child{
    padding-right: 30px;
}
.portfolio {
    padding-left: 50px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.team{
    padding: 100px 0;
}
.team li{
    text-align: center;
    width: 25%;
}
.links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.links div {
    border: 1px solid #ACD7FB;
    border-radius: 16px;
    width:32px;
    height: 32px;
}
.colab{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
}
.text-contact{
    width: 50%;
}
.text-contact h2{
    margin: 0;
    padding-bottom: 0;
}
form{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 45%;
  }
  .description{
    color: #5e5e5e;
    font-size: 14px;
    margin-bottom: 2em;
    width: 400px;
    padding-left: 50px;
  }
  .form-submit{
    padding: 0.7em;
    font-size: 18px;
    border-radius: 3px;
    border-color: #4093DC;
    background-color: white;
    color: #4093DC;
    font-weight: 400;
    width: 10em;
  }
  .form-submit:hover{
    cursor: pointer;
  }
  .input{
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 1em;
    border-radius: 3px;
    outline: none;
    border-width: 1px;
    padding: 1em;
    width: 100%;
  }
.input:hover, .input:active, .input:focus{
    border-color: #4093DC;
    box-shadow: 0 0 0 3px hsla(208, 60%, 42%, .25);
  }
  #contact{
    display: flex;
    justify-content: space-between;
  }
  footer{
    background-color: #F4F8FD;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer span:last-child{
    padding-right: 45px;
  }